In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('201901-202003.csv')
submission = pd.read_csv('submission.csv')
submission.columns=['id','사용년월','사용지역_도','업종명','이용금액']
data.columns=['사용년월','사용지역_도','사용지역_시군구','업종명','거주지역_도','거주지역_시군구',
             '연령대','성별','가구생애주기','이용고객수','이용금액','이용건수']

In [8]:
data['업종명'].value_counts()

한식 음식점업                  3697166
체인화 편의점                  3210466
슈퍼마켓                     1630700
차량용 주유소 운영업              1613476
비알콜 음료점업                 1586120
기타 대형 종합 소매업             1495163
서양식 음식점업                 1404839
피자 햄버거 샌드위치 및 유사 음식점업    1351478
빵 및 과자류 소매업               989794
중식 음식점업                   698803
기타음식료품위주종합소매업             558716
기타 외국식 음식점업               556813
일식 음식점업                   539071
과실 및 채소 소매업               504479
스포츠 및 레크레이션 용품 임대업        466533
화장품 및 방향제 소매업             383713
택시 운송업                    381993
그외 기타 종합 소매업              351817
여관업                       334994
전시 및 행사 대행업               330569
육류 소매업                    327160
욕탕업                       259567
수산물 소매업                   255488
골프장 운영업                   236554
차량용 가스 충전업                218242
버스 운송업                    192281
일반유흥 주점업                  174081
호텔업                       155309
면세점                       144349
정기 항공 운송업                 115914
휴양콘도 운영업                  114921
건강보조식품 소매업                 83857
관광 민예품 및 선물용품 소매업          78793
기타 주점업                     73244
내항 여객 운송업                  72294
여행사업                       47446
자동차 임대업                    26024
마사지업                       17844
그외 기타 스포츠시설 운영업            11077
기타 수상오락 서비스업                6356
그외 기타 분류안된 오락관련 서비스업         288
Name: 업종명, dtype: int64

In [4]:
data['사용지역_도'].value_counts()

서울    6259502
경기    5188230
부산    2030810
인천    1278410
강원    1230355
경남    1222818
경북    1204831
충남    1178159
충북     834707
전북     829466
전남     819291
대구     758424
대전     523121
제주     497503
광주     432150
울산     322802
세종      87213
Name: 사용지역_도, dtype: int64

In [7]:
len(data['업종명'].value_counts())

41

In [20]:
data[:10]

,사용년월,사용지역_도,사용지역_시군구,업종명,거주지역_도,거주지역_시군구,연령대,성별,가구생애주기,이용고객수,이용금액,이용건수
0,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,4,311200,4
1,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,7,1374500,8
2,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,6,818700,6
3,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,4,1717000,5
4,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,1047300,3
5,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,2,3,7,627500,7
6,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,50s,1,4,21,3690830,21
7,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,50s,2,4,21,3573300,20
8,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,60s,1,5,19,1433500,20
9,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,60s,2,5,33,7194600,40

In [ ]:
str(data['사용년월'][0])[4:]

In [26]:
list = []
for i in range(len(data)) :
    if str(data['사용년월'][i])[:4]=='2019' :
        list.append(0)
    if str(data['사용년월'][i])[:4]=='2020' :
        list.append(1)
list

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [98]:
list_submission = []
for i in range(len(submission)) :
    if str(submission['사용년월'][i])[:4]=='2019' :
        list_submission.append(0)
    if str(submission['사용년월'][i])[:4]=='2020' :
        list_submission.append(1)

In [99]:
list1_submission = []
for i in range(len(submission)) :
    if str(submission['사용년월'][i])[4:] == '01' :
        list1_submission.append(1)
    if str(submission['사용년월'][i])[4:] == '02' :
        list1_submission.append(2)
    if str(submission['사용년월'][i])[4:] == '03' :
        list1_submission.append(3)
    if str(submission['사용년월'][i])[4:] == '04' :
        list1_submission.append(4)
    if str(submission['사용년월'][i])[4:] == '05' :
        list1_submission.append(5)
    if str(submission['사용년월'][i])[4:] == '06' :
        list1_submission.append(6)
    if str(submission['사용년월'][i])[4:] == '07' :
        list1_submission.append(7)
    if str(submission['사용년월'][i])[4:] == '08' :
        list1_submission.append(8)
    if str(submission['사용년월'][i])[4:] == '09' :
        list1_submission.append(9)
    if str(submission['사용년월'][i])[4:] == '10' :
        list1_submission.append(10)
    if str(submission['사용년월'][i])[4:] == '11' :
        list1_submission.append(11)
    if str(submission['사용년월'][i])[4:] == '12' :
        list1_submission.append(12)

In [100]:
submission['사용년'] = list_submission
submission['사용월'] = list1_submission

In [32]:
list1 = []
for i in range(len(data)) :
    if str(data['사용년월'][i])[4:] == '01' :
        list1.append(1)
    if str(data['사용년월'][i])[4:] == '02' :
        list1.append(2)
    if str(data['사용년월'][i])[4:] == '03' :
        list1.append(3)
    if str(data['사용년월'][i])[4:] == '04' :
        list1.append(4)
    if str(data['사용년월'][i])[4:] == '05' :
        list1.append(5)
    if str(data['사용년월'][i])[4:] == '06' :
        list1.append(6)
    if str(data['사용년월'][i])[4:] == '07' :
        list1.append(7)
    if str(data['사용년월'][i])[4:] == '08' :
        list1.append(8)
    if str(data['사용년월'][i])[4:] == '09' :
        list1.append(9)
    if str(data['사용년월'][i])[4:] == '10' :
        list1.append(10)
    if str(data['사용년월'][i])[4:] == '11' :
        list1.append(11)
    if str(data['사용년월'][i])[4:] == '12' :
        list1.append(12)
list1

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 ...]

In [33]:
len(list)

24697792

In [34]:
len(list1)

24697792

In [31]:
data.isnull().sum()

사용년월             0
사용지역_도           0
사용지역_시군구     87213
업종명              0
거주지역_도           0
거주지역_시군구    147787
연령대              0
성별               0
가구생애주기           0
이용고객수            0
이용금액             0
이용건수             0
사용년              0
dtype: int64

In [36]:
data['사용년'] = list
data['사용월'] = list1

In [37]:
data.head()

,사용년월,사용지역_도,사용지역_시군구,업종명,거주지역_도,거주지역_시군구,연령대,성별,가구생애주기,이용고객수,이용금액,이용건수,사용년,사용월
0,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,4,311200,4,0,1
1,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,7,1374500,8,0,1
2,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,6,818700,6,0,1
3,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,4,1717000,5,0,1
4,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,1047300,3,0,1

In [44]:
지역 = data['사용지역_도'].value_counts()

In [50]:
지역.index.values

array(['서울', '경기', '부산', '인천', '강원', '경남', '경북', '충남', '충북', '전북', '전남',
       '대구', '대전', '제주', '광주', '울산', '세종'], dtype=object)

In [51]:
mapping={"서울": 0, "경기" : 1, "부산" : 2,
               "인천" : 3, "강원" : 4, "경남" : 5,
               "경북" : 6, "충남" : 7, "충북" : 8,
               "전북" : 9, "전남" : 10, "대구" : 11,
               "대전" : 12, "제주" : 13,
               "광주" : 14, "울산" : 15,
            "세종" : 16}

In [53]:
data['사용지역_도1']=data['사용지역_도'].map(mapping)

In [101]:
submission['사용지역_도1']=submission['사용지역_도'].map(mapping)

In [68]:
list = []
for i in range(len(data)) :
    list.append(data['업종명'][i].split(' ')[-1])

In [102]:
list_submission = []
for i in range(len(submission)) :
    list_submission.append(submission['업종명'][i].split(' ')[-1])

In [103]:
submission['업종명_대분류'] = list_submission

In [69]:
data['업종명_대분류'] = list

In [60]:
parts = data['업종명'].value_counts().index.values

dict = {}
for i,j in enumerate(parts) :
    dict[j] = i
dict

In [65]:
data['업종명1']=data['업종명'].map(dict)

In [104]:
submission['업종명1']=submission['업종명'].map(dict)

In [70]:
data['업종명_대분류'].value_counts()

음식점업             8248170
소매업              4470264
편의점              3210466
운영업              1976028
슈퍼마켓             1630700
음료점업             1586120
운송업               762482
기타음식료품위주종합소매업     558716
임대업               492557
여관업               334994
대행업               330569
욕탕업               259567
주점업               247325
충전업               218242
호텔업               155309
면세점               144349
여행사업               47446
마사지업               17844
서비스업                6644
Name: 업종명_대분류, dtype: int64

In [74]:
parts = data['업종명_대분류'].value_counts().index.values
dict1 = {}
for i,j in enumerate(parts) :
    dict1[j] = i
dict1

{'음식점업': 0,
 '소매업': 1,
 '편의점': 2,
 '운영업': 3,
 '슈퍼마켓': 4,
 '음료점업': 5,
 '운송업': 6,
 '기타음식료품위주종합소매업': 7,
 '임대업': 8,
 '여관업': 9,
 '대행업': 10,
 '욕탕업': 11,
 '주점업': 12,
 '충전업': 13,
 '호텔업': 14,
 '면세점': 15,
 '여행사업': 16,
 '마사지업': 17,
 '서비스업': 18}

In [75]:
data['업종명_대분류1']=data['업종명_대분류'].map(dict1)

In [105]:
submission['업종명_대분류1']=submission['업종명_대분류'].map(dict1)

In [79]:
data

,사용년월,사용지역_도,사용지역_시군구,업종명,거주지역_도,거주지역_시군구,연령대,성별,가구생애주기,이용고객수,이용금액,이용건수,사용년,사용월,사용지역_도1,업종명_대분류,업종명1,업종명_대분류1
0,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,4,311200,4,0,1,4,소매업,31,1
1,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,7,1374500,8,0,1,4,소매업,31,1
2,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,6,818700,6,0,1,4,소매업,31,1
3,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,4,1717000,5,0,1,4,소매업,31,1
4,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,1047300,3,0,1,4,소매업,31,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24697787,202003,충북,충주시,휴양콘도 운영업,충북,충주시,30s,1,2,3,43300,4,1,3,8,운영업,30,3
24697788,202003,충북,충주시,휴양콘도 운영업,충북,충주시,40s,1,3,3,35000,3,1,3,8,운영업,30,3
24697789,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,1,4,4,188000,6,1,3,8,운영업,30,3
24697790,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,2,4,4,99000,6,1,3,8,운영업,30,3
24697791,202003,충북,충주시,휴양콘도 운영업,충북,충주시,60s,1,5,3,194000,3,1,3,8,운영업,30,3

In [106]:
submission

,id,사용년월,사용지역_도,업종명,이용금액,사용년,사용월,사용지역_도1,업종명_대분류,업종명1,업종명_대분류1
0,0,202004,강원,건강보조식품 소매업,0,1,4,4,소매업,31,1
1,1,202004,강원,골프장 운영업,0,1,4,4,운영업,23,3
2,2,202004,강원,과실 및 채소 소매업,0,1,4,4,소매업,13,1
3,3,202004,강원,관광 민예품 및 선물용품 소매업,0,1,4,4,소매업,32,1
4,4,202004,강원,그외 기타 분류안된 오락관련 서비스업,0,1,4,4,서비스업,40,18
...,...,...,...,...,...,...,...,...,...,...,...
1389,1389,202007,충북,피자 햄버거 샌드위치 및 유사 음식점업,0,1,7,8,음식점업,7,0
1390,1390,202007,충북,한식 음식점업,0,1,7,8,음식점업,0,0
1391,1391,202007,충북,호텔업,0,1,7,8,호텔업,27,14
1392,1392,202007,충북,화장품 및 방향제 소매업,0,1,7,8,소매업,15,1
1393,1393,202007,충북,휴양콘도 운영업,0,1,7,8,운영업,30,3

In [80]:
data.columns

Index(['사용년월', '사용지역_도', '사용지역_시군구', '업종명', '거주지역_도', '거주지역_시군구', '연령대', '성별',
       '가구생애주기', '이용고객수', '이용금액', '이용건수', '사용년', '사용월', '사용지역_도1', '업종명_대분류',
       '업종명1', '업종명_대분류1'],
      dtype='object')

In [81]:
dataset = data[['사용년', '사용월', '사용지역_도1','업종명1','업종명_대분류1', '이용금액']]

In [107]:
submission_1 = submission[['사용년', '사용월', '사용지역_도1','업종명1','업종명_대분류1', '이용금액']]

In [82]:
dataset

          사용년  사용월  사용지역_도1  업종명1  업종명_대분류1     이용금액
0           0    1        4    31         1   311200
1           0    1        4    31         1  1374500
2           0    1        4    31         1   818700
3           0    1        4    31         1  1717000
4           0    1        4    31         1  1047300
...       ...  ...      ...   ...       ...      ...
24697787    1    3        8    30         3    43300
24697788    1    3        8    30         3    35000
24697789    1    3        8    30         3   188000
24697790    1    3        8    30         3    99000
24697791    1    3        8    30         3   194000

[24697792 rows x 6 columns]

In [87]:
dataset1 = dataset.groupby(by=['사용년', '사용월', '사용지역_도1','업종명_대분류1','업종명1']).sum()

In [88]:
dataset1

                                       이용금액
사용년 사용월 사용지역_도1 업종명_대분류1 업종명1
0   1   0       0        0     208167049908
                         6      44144354639
                         7      20309069355
                         9      18823781054
                         11     11165712719
...                                     ...
1   3   16      11       21        19025100
                12       26        12071000
                         33         2925000
                13       24        36974064
                17       37         1371000

[9438 rows x 1 columns]

In [94]:
dataset1 = dataset1.reset_index()

In [113]:
dataset1[-50:]

      사용년  사용월  사용지역_도1  업종명_대분류1  업종명1         이용금액
9388    1    3       15         1    22    234311267
9389    1    3       15         1    31     90647941
9390    1    3       15         1    32      2382500
9391    1    3       15         2     1   6735203759
9392    1    3       15         3     3  12070874634
9393    1    3       15         3    23    512781100
9394    1    3       15         3    38       219000
9395    1    3       15         4     2  11730084732
9396    1    3       15         5     4    925538115
9397    1    3       15         6    25       547200
9398    1    3       15         7    10   1657264340
9399    1    3       15         8    14   1025880597
9400    1    3       15         8    36       217000
9401    1    3       15         9    18    250895154
9402    1    3       15        10    19       504700
9403    1    3       15        11    21    275241708
9404    1    3       15        12    26    907244303
9405    1    3       15        12    33    226986158
9406    1    3       15        13    24    281703118
9407    1    3       15        14    27     90036164
9408    1    3       15        16    35        73500
9409    1    3       15        17    37     27534000
9410    1    3       16         0     0   2091144401
9411    1    3       16         0     6    327977480
9412    1    3       16         0     7    287007375
9413    1    3       16         0     9    265740650
9414    1    3       16         0    11    104153042
9415    1    3       16         0    12     80777200
9416    1    3       16         1     5   1683372950
9417    1    3       16         1     8    300565508
9418    1    3       16         1    13    407847029
9419    1    3       16         1    15     48905505
9420    1    3       16         1    17      4839290
9421    1    3       16         1    20    382817522
9422    1    3       16         1    22     46397052
9423    1    3       16         1    31      9943350
9424    1    3       16         2     1   1214865994
9425    1    3       16         3     3   2225235023
9426    1    3       16         3    23    189063330
9427    1    3       16         4     2   1627816877
9428    1    3       16         5     4    204012833
9429    1    3       16         7    10    753677203
9430    1    3       16         8    14    140274610
9431    1    3       16         9    18      3110000
9432    1    3       16        10    19       165000
9433    1    3       16        11    21     19025100
9434    1    3       16        12    26     12071000
9435    1    3       16        12    33      2925000
9436    1    3       16        13    24     36974064
9437    1    3       16        17    37      1371000

In [110]:
submission_1.columns

Index(['사용년', '사용월', '사용지역_도1', '업종명1', '업종명_대분류1', '이용금액'], dtype='object')

In [111]:
submission_1 = submission_1[['사용년', '사용월', '사용지역_도1', '업종명_대분류1', '업종명1', '이용금액']]

In [114]:
submission_1.to_csv('submission_min.csv')

In [115]:
dataset1.to_csv('dataset_min.csv')